#!/bin/bash

bin_dir="./bin"
if [ ! -d "$bin_dir" ]; then
  make setup-dev
fi

temp_dir="./tmp"
if [ -d "$temp_dir" ]; then
  rm -r ./tmp
fi

export UNAME_MIGRATION="uname"
export PW_MIGRATION="password"
export DB_URL="postgresql://postgres:postgres@localhost:5432/postgres?sslmode=disable"
export PORT="3000"


./bin/air
